.breadcrumbs {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: var(--global-text-color-light);

  a {
    color: var(--global-text-color-light);
    text-decoration: none;

    &:hover {
      color: var(--global-theme-color);
    }
  }
}
